/* 1 */
/* 
@font-face {
  font-family: "product-sans-regular";
  font-display: swap;
  src: url("assets/fonts/Product-Sans-Regular.ttf") format("ttf");
} */

/* 3 */
@font-face {
  font-family: "product-sans-italic";
  font-display: swap;
  font-weight: 700;
  src: url("assets/fonts/Product-Sans-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "product-sans-bold";
  font-display: swap;
  font-weight: 600;
  src: url("assets/fonts/Product-Sans-Bold.ttf") format("ttf");
}

/* 2 */
@font-face {
  font-family: "product-sans-bold-italic";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/Product-San-Bold-Italic.ttf") format("ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: "product-sans", "Roboto", sans-serif;
  scroll-behavior: smooth;
  height: 100%;

  background: white;
  background-image: linear-gradient(
    -10deg,
    white 50%,
    hsla(45, 86%, 62%, 0.2) 50%
  );
  background-repeat: no-repeat;
}
