@font-face {
  font-family: "Product Sans";
  font-display: swap;
  src: url("assets/fonts/Product-Sans-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 700;
  src: url("assets/fonts/Product-Sans-Bold.ttf") format("ttf");
}
@font-face {
  font-family: "Product Sans";
  font-display: swap;
  font-weight: 600;
  src: url("assets/fonts/Product-Sans-Bold-Italic.ttf") format("ttf");
}
@font-face {
  font-family: "Product Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("assets/fonts/Product-Sans-Bold-Italic.ttf") format("ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 62.5%;
  font-family: "Product Sans", "Roboto", sans-serif;
  scroll-behavior: smooth;
}
